{% extends 'base.html' %}
{% block content %}

<div class="row">
    <h2 class="form-title">Create Advertisement</h2>
    {% if error %}
    <div class="alert alert-danger" role="alert">{{error}}</div>
    {% endif %}
    <form class="create-form" action="{% url 'create' %}" method="POST">
        <div class="form-line">
            <div class="form-element">
                <label for="id_company">Company</label>
                <input type="text" name="company" maxlength="300" required="" id="id_company">
            </div>
            <div class="form-element">
                <label for="id_industry">industry</label>
                <select name="industry" required="" id="id_industry">


                    {% for id, industry in ad.industries %}
                    
                    {% if id %}
                    <option value="{{id}}">{{industry}}</option>
                    {% else %}
                    <option value="{{id}}" selected disabled>{{industry}}</option>
                    {% endif %}
                        
                    
                    {% endfor %}

                </select>
            </div>
        </div>
        <div class="form-line">
            <div class="form-element long">
                <label for="id_address">Address</label>
                <input type="text" name="address" maxlength="400" required="" id="id_address">
            </div>
        </div>
        <div class="form-line">
            <div class="form-element">
                <label for="id_email">Email</label>
                <input type="email" name="email" maxlength="254" required="" id="id_email">
            </div>
            <div class="form-element">
                <label for="id_phone">Phone</label>
                <input type="text" name="phone" maxlength="14" required="" id="id_phone">
            </div>
        </div>
        <label for="id_desc">Description</label>
        <textarea name="desc" cols="40" rows="10" required="" id="id_desc"></textarea>
        
        {% csrf_token %}
        <button class="btn-full" type="submit">Create</button>
    </form>
</div>


{% endblock content %}