{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="ad-box" id="detail">
        <div class="info-line">
            <div class="info-data">
                <p class="small-info">
                    <ion-icon name="location-outline"></ion-icon>{{ad.address}}
                </p>
                <p class="small-info">
                    <ion-icon name="thumbs-up-outline"></ion-icon>4
                </p>
            </div>
            <div class="info-data">
                <p class="small-info">
                    <ion-icon name="call-outline"></ion-icon>{{ad.phone}}
                </p>
                <p class="small-info">
                    <ion-icon name="mail-outline"></ion-icon>
                    {{ad.email}}
                </p>
            </div>

        </div>
        <div class="main-box">
            <p class="industry">{{ad.display_industry}}</p>
            <h2>{{ad.company}}</h2>
            <div class="desc-row">
                <p><ion-icon name="document-text-sharp"></ion-icon></p>
                <p>{{ad.desc}}</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}