@media only screen and (max-width: 1034px) {
    #detail {
        width: 95%;
    }
}

@media only screen and (max-width: 930px) {
    .create-form {
        margin: 0 1.2rem;
    }
    
}

@media only screen and (max-width: 560px) {
    html, body {
        font-size: 8px;
    }
    .ad-col {
        flex: 1 0 100%;
    }
    #detail {
        padding: 1rem;
    }
    
}